.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
  overflow: visible;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* hide the blue outline */
/*.form-control:focus {*/
  /*outline: 0 !important;*/
  /*border-color: initial;*/
  /*box-shadow: none;*/
/*}*/

.col-centered{
  float: none;
  margin: 0 auto;
}
